liteflow-core/src/main/resources/dtd/liteflow.dtd

<?xml version="1.0" encoding="UTF-8" ?>

<!ELEMENT flow  ((nodes) , (chain)+)>
<!ELEMENT nodes  (node)+>
<!ELEMENT node  (#PCDATA | EMPTY)*>
<!ELEMENT chain (#PCDATA)>

<!ATTLIST node
        id CDATA #REQUIRED
        type (script|if_script|switch_script|while_script|for_script|break_script) #IMPLIED
        class CDATA #IMPLIED
        language (groovy|js) #IMPLIED
        >
<!ATTLIST chain
        name CDATA #REQUIRED>